h1 {
    text-align: center;
}

ul{
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

ul li{
    display: inline-block;
    text-align: center;
}

h3{
    text-align: center;
}

.podio{
    display: inline-block;
    width: 100%;
    height: 150px;
    text-align: center;
}

.premiacao{
    text-align: center;
}

.first {
    background-color: rgb(235, 200, 84);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 200px;
    display: block;
    text-align: center;
    position:relative;
    left: 30%;
}

.second {
    background-color: rgb(219, 219, 219);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
}

.third {
    background-color: rgb(170, 142, 106);
    font-size: 20px;
    height: 50px;
    text-align: center;
    width: 300px;
}