.super-mario {
    width: 200px;
    /* position: absolute; */
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 380px;
    left: 20px;

  }
  
  .baloon {
    position: absolute;
    top: 560px;
    left: 20px;    
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 500px;

  }
  
  .bowser {
    width: 200px;
  }
