ol li{
    background-color: yellow;
}

.numeropar{
    color: green;
}

.numeroimpar{
    text-transform: uppercase;
}

h1, h3{
    color: red;
}

.titulo{
    font-size: 40px;
    border: 1px black solid;
}