ol li{
    background-color: yellow;
}

.numeropar{
    color: green;
    font-weight:bolder;
}

.numeroimpar{
    text-transform: uppercase;
    font-weight:bolder;
}

h1, h3{
    color: red;
}

.titulo{
    font-size: 40px;
    border: 1px black solid;
}

li{
    font-size: 20px;
}

.fonteazul{
    color: blue;
}

.backgroundpink{
    background-color: pink;
}

ul li a{
    text-decoration:none;
    color: black;
}

.aliados:hover{
    font-weight: bolder;
}

.orange:hover{
    color: orange
}

.green:hover{
    color: green
}

.black:hover{
    color: black
}

.yellow:hover{
    color: yellow
}