ol li{
    background-color: yellow;
}

.numeropar{
    color: green;
    font-weight:bolder;
}

.numeroimpar{
    text-transform: uppercase;
    font-weight:bolder;
}

h1, h3{
    color: red;
}

.titulo{
    font-size: 40px;
    border: 1px black solid;
}

li{
    font-size: 20px;
}

.fonteazul{
    color: blue;
}

.backgroundpink{
    background-color: pink;
}